body{
	text-align: center;
	margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;

  
}



#logo {
 
    height: 150px;
    width: 250px;
    margin-right: 0px;
  padding: 0px;
  text-align: justify;
	
	clear: both;
	display:inline-block;
    }

    #left {
    width:712px;
	height: 207px;
	display:inline-block;

}

#DepButton1 ,  #btn1, #btn2 {
display:inline;

}
label, textarea {
    vertical-align: middle;
}


.column {
  float: left;
  width: 500px;
  margin: auto;
  border: solid black 1px;
 
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}


#login{
  background-image: url();
}


.container-contact2 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219,21,99,0.8);
  background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}